admin_email: "admin@example.com"
admin_default_password: "password"
admin_default_first_name: "Admin"
admin_default_last_name: "Adminson"
port: 8080
url:
  - "127.0.0.0"
database_path: "judoassistant.development.db"
